.view-container{
  max-width: 850px;
  width: 100%;
  margin: 80px auto;
  text-align: center;
}
:root {
  --margin-line: #941c5a;
  --lines: #1d97b8;
}



.paper {
  max-width: 850px;
  min-height: 600px;
  background-color: #fff;
  background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
  background-size: 100% 2em;
  position: relative;
  box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
}
.paper:before, .paper:after {
  content: "";
  position: absolute;
  top: 0;
}
.paper:before {
  height: 100%;
  width: 2px;
  background-color: var(--margin-line);
  left: 4em;
  z-index: 2;
}
.paper:after {
  height: 6em;
  width: 100%;
  background-color: #fff;
  left: 0;
  z-index: 1;
}
.paper .holes {
  background-color: #eee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  z-index: 10;
  margin-left: 1em;
  margin-top: 6em;
}
.paper .holes:before, .paper .holes:after {
  content: "";
  width: 35px;
  height: 35px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
}
.paper .holes:before {
  top: 50%;
}
.paper .holes:after {
  top: calc(100% - 6em);
}

textarea {
  position: absolute;
  top: 6rem;
  left: 4rem;
  width: calc(100% - 5rem);
  height: calc(100% - 7rem);
  background-color: transparent;
  border: none;
  font-family: "Comic Sans";
  font-size: 2rem;
  line-height: 1;
  padding-left: 1rem;
  margin: 0;
  resize: none;
}

.t-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 20px auto;
}
.b-blue {background-color: #008CBA;} /* Blue */

/* The Modal (background) */
.t-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.t-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 99;
  position: relative;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-form{ position: relative;min-height: 300px}
.modal-form form{
    max-width: 400px;
    margin: 0px auto;
    text-align: left;
}
.modal-form form p{
  text-align: center;
}
.modal-form img{
    width: 120px;
    height: auto;
    position: absolute;
    right: 40px;
}
.modal-form form label{
  display: block;
}
.modal-form form label span{
    font-size: 10px;
}
.modal-form form input{
    width: 100%;
    margin-bottom: 15px;
}